/* This is the div element that contains the map */

#map {
    width: 300px;
    height: 300px;
}

/* Make it the whole window */
/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */